<div class="row" ng-show="$ctrl.data.length > 1">
    <p style="text-align : center;"><b>{{$ctrl.name}}</b></p>
    <md-divider></md-divider>

    <div style="padding-top : 16px;">
        <div ng-repeat="item in $ctrl.data track by $index">
            <div ng-show="$index < 4" >
                <md-checkbox ng-disabled="!$ctrl.ready" class="md-primary" ng-model="item.selected" aria-label="item.name" ng-change="$ctrl.change(item)">
                    <span style="font-size: 12px;">{{item.name}}</span>
                </md-checkbox>
            </div>
        </div>
    </div>

    <div ng-show="$ctrl.data.length > 4">

        <div id="more_{{$ctrl.name}}" class="collapse">
            <div ng-repeat="item in $ctrl.data track by $index">
                <div ng-show="$index > 3" >
                    <md-checkbox ng-disabled="!$ctrl.ready" class="md-primary" ng-model="item.selected" aria-label="item.name" ng-change="$ctrl.change(item)" >
                        <span style="font-size: 12px;">{{item.name}}</span>
                    </md-checkbox>
                </div>
            </div>
        </div>

        <a class="pull-right" data-toggle="collapse" data-target="#more_{{$ctrl.name}}" href>Plus...</a>
    </div>
</div>