/* Upload Image */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
}

/* End Upload Image */

.admin-container
{
    margin: 20px;
    background-color: white;
}

.eapp-create
{
    margin-top: 5px;
    float: right;
}

/* Select File */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.admin-image
{
    width: 100px;
    height: auto;
    border-style: solid;
    border-color: #1abc9c;
    border-width: thin;
    padding: 5px;
    margin: 5px;
}