

p.cart-warning
{
    text-align: center;
    color: red;
}

.full-td
{
    display:block;width:99.9%;clear:both;
}

.cart-item-container
{
    margin : auto; padding: 10px;
    vertical-align: middle;
}

@media all and (min-width: 0px) and (max-width : 990px)
{
    .cart-item-container p
    {
        text-align: center;
    }
}

.center-content
{
    display: block;
    margin: auto;
}

.category-name
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
}