/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Dec-2017, 4:54:57 PM
    Author     : besongsamuel
*/


.change-location-container
{
    margin-top: 100px;
    margin-bottom: 250px;
}