.login-box
{
    padding: 20px;
}

.choice-block
{
    min-width : 250px !important;
    height: 200px !important;
    margin-top: 40px;
    background-color: #1abc9c;
    border: #e1e1e1 solid medium;
    border-radius: 2%;
    display: table-cell;
    vertical-align: middle;
}

.choice-block img
{
    width : 120px;
    height: 120px;
    margin: auto;
    display: block;
}

.choice-block h3:hover 
{
    color : lightgray !important;
    text-decoration: underline;
}

h3
{
    font-weight: 300;
    margin : 10px;
    
}

