/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Apr-2018, 7:35:10 PM
    Author     : besongsamuel
*/


div.otiprix-section * {
  box-sizing:border-box;
  padding:0;
  margin:0;
   outline: 0;
}

div.otiprix-section article {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  height:1000px;
  position:relative;
}
div.otiprix-section ul {
  display:flex;
  top:0px;
  z-index:10;
  padding-bottom:14px;
}
div.otiprix-section li {
  list-style:none;
  flex:1;
}
div.otiprix-section li:last-child {
  border-right:1px solid #DDD;
}
div.otiprix-section button {
  width:100%;
  border: 1px solid #DDD;
  border-right:0;
  border-top:0;
  padding: 10px;
  background:#FFF;
  font-size:14px;
  font-weight:bold;
  height:60px;
  color:#999
}
div.otiprix-section li.active button {
  background:#F5F5F5;
  color:#000;
}
div.otiprix-section table { border-collapse:collapse; table-layout:fixed; width:100%; }
div.otiprix-section th { background:#F5F5F5; display:none; }
div.otiprix-section td, th {
  height:53px
}
div.otiprix-section td,th { border:1px solid #DDD; padding:10px; empty-cells:show; }
div.otiprix-section td,th {
  text-align:left;
}
div.otiprix-section td+td, th+th {
  text-align:center;
  display:none;
}
div.otiprix-section td.default {
  display:table-cell;
}

td.first{
	border:none !important;
	background:none !important;
	display:table-cell !important;
}


div.otiprix-section .bg-green {
  border-top:3px solid #4c7737;
}
div.otiprix-section .bg-yellow {
  border-top:3px solid #ffbb42;
}
div.otiprix-section .bg-red {
  border-top:3px solid #e13c4c;
}

div.otiprix-section .sep {
  background:#F5F5F5;
  font-weight:bold;
}
div.otiprix-section .txt-l { font-size:28px; font-weight:bold; }
div.otiprix-section .txt-top { position:relative; top:-9px; left:-2px; }
div.otiprix-section .tick { font-size:18px; color:#2CA01C; }
div.otiprix-section .tickred { font-size:18px; color:#e82309; }
.hide {
  border:0;
  background:none;
}

@media (min-width: 640px) {
  div.otiprix-section ul {
    display:none;
  }
  div.otiprix-section td,th {
    display:table-cell !important;
  }
  div.otiprix-section td,th {
    width: 330px;
  
  }
  div.otiprix-section td+td, th+th {
    width: auto;
  }
  
}

div.otiprix-section .button {
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

div.otiprix-section .button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
div.otiprix-section .button:active {
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
div.otiprix-section .button.first {
    background: #4c7737;
}
div.otiprix-section .button.second {
    background: #ffbb42;
}
div.otiprix-section .button.third {
    background: #e13c4c;
}
