/*  ################################################################

  File Name: style.css

################################################################# */ 

/* ----------------------------------------------------
  SKELETON
------------------------------------------------------- */
@font-face {
  font-family: 'baron_neue_boldbold';
  src: url('fonts/baron_neue_bold-webfont.eot');
  src: url('fonts/baron_neue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/baron_neue_bold-webfont.woff2') format('woff2'),
    url('fonts/baron_neue_bold-webfont.woff') format('woff'),
    url('fonts/baron_neue_bold-webfont.ttf') format('truetype'),
    url('fonts/baron_neue_bold-webfont.svg#baron_neue_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { 
    
	text-align: justify;
    text-justify: inter-word;
}

p.css{
	background: #fff;
    color: #000;
	font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
	background: transparent;
}
ul.css {
	margin-left: 40px;
	padding-left: 50px;
	background: #fff;
    color: #000;
	font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
	background: transparent;
}



h1,
h2,
h3,
h4,
h5,


h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}



.alignleft {
  float:left;
  margin:20px 20px 20px 0;
}

.alignright {
  float:right;
  margin:20px 0 20px 20px;
}

.aligncenter {
  margin-left:auto;
  margin-right:auto;
  display:block;
  clear:both;
}

.first {
  clear:both
}

.last{
  margin-right:0
}

.custom {
  background:#343434;
  border-left: 0 none;
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  margin-top:20px;
  line-height: 1.4;
  padding: 2em;
  text-align: left;
}

.drop-caps p:first-child:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  color: #434b55;
  padding: 4px;
  margin-right: 10px;
  margin-top: 5px;
  font-family: Georgia;
  display: block;
}  
    
.drop-caps.full p:first-child:first-letter {
  color: #fff;
  background: #232323 !important;
  padding: 7px;
  margin-right: 10px;
}


/* ----------------------------------------------------
  CUSTOM PAGE STYLES
------------------------------------------------------- */

/* boxed layout */

body#boxed {
	background: url(demos/slider_01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#boxed #wrapper {
	padding:20px;
}




/* ----------------------------------------------------
  SECTION STYLES
------------------------------------------------------- */

.background-image.full {
  width: 100%;
}

.container-fluid {
  max-width: 1300px;
}

.section-colorful,
.section-gray,
.section-white {
  position: relative;
  background:rgb(255,255,255);
  padding:90px 0;
  display: block;
  z-index: 10;
}

.section-landing {
  position: relative;
  background:#f5f5f5;
  padding:90px 0;
  display: block;
  z-index: 10;
}
.page-white {
  position: relative;
  background:rgb(255,255,255);
  padding:60px 0 30px;
  display: block;
  z-index: 10;
}

.breadcrumb  {
  font-style: italic;
  font-family: Athelas;
  margin-bottom: 5px;
  font-size:14px !important;
}

.section-gray {
  background: #f5f5f5;
}


.section-title {
  margin-bottom:40px;
  text-align: center;
}

.page-white .section-title h3 {
  font-size: 40px !important;
  font-weight: 400 !important;
}

.milestone {
  text-align: center;
}

.milestone-details h4 {
  color:#fff;
  font-size:16px;
}

.stat-count {
  font-weight: 600;
  font-size:48px;
}

.bigger-image img {
    margin:80px auto 20px;
}


.section-title .baron,
.mini-title h2 span {
  font-family: 'Titillium Web', sans-serif;
}

.mini-title h2,
.section-title h3 {
  font-size:36px;
  font-weight: 700;
  text-transform: uppercase;
}

.divider-hover,
.divider {
  background: url("images/hr.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  display: block;
  height: 9px;
  margin: 10px auto 15px;
  padding: 0;
  position: relative;
  width: 100px;
}

.divider-hover {
  background: url("images/hr2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  margin:15px auto;
}

.shadow {
    background: url("images/shadow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 37px;
    left: 0;
    opacity: 0.2;
    right: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    bottom: -36px;
    z-index: 99;
    width: 100%;
}
.background-image-wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important;
    position: absolute;
}

.full-image-section {
    padding: 0px;
	background-color:#fff;
    position: relative;
}
.section-padding {
    padding:80px 40px !important;
}
#parallax-ten h3,
#parallax-ten .stat-count,
#parallax-ten .milestone-details h4 {
  color:#fff;
}
#parallax-count .stat-count,
#parallax-count .milestone-details h4,
#parallax-three .stat-count,
#parallax-three .milestone-details h4 {
    color:#282828;
}
.section-margin {
    padding:50px 20px 0 !important;
}

.mini-service-title h3 {
    text-transform: none !important;
}
.full-image-section .image-container {
	z-index:999;
    position: absolute;
    height: 100%;
    padding: 0;
    top: 0px;
	bottom:0;
}

.full-image-section {
	overflow:hidden;
}

.full-image-section .background-image {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 9999;
}


.position-relative {
	position:relative !important}
.full-image-section .image-container.pull-right {
    right: 0px;
}
.full-image-section .section-content {
    padding: 80px 0;
}

.about-widget {
    position: relative;
}
.about-widget img {
    width: 100%;
}
.bgpatttern {
    background: url(http://localhost/eapp/assets/contact/img/pattern.png) repeat center center;
}
.nopadding {
    padding:0 !important;
}

.littlepadding {
    padding:80px 0 0 !important;
}
#logo-showcase img {
    margin:auto;
    text-align: center;
}

.bf ul.items.bflayhover li .caption.purple-bg {
    background: rgba(86,75,181,0.7) !important;
}
.purple-bg a i {
    color: rgba(86,75,181,1) !important;
}
.bf ul.items.bflayhover li .caption.yellow-bg {
    background: rgba(255,204,14,0.7) !important;
}
.bf ul.items.bflayhover li .caption.green-bg {
    background: rgba(24,226,186,0.7) !important;
}
.green-bg a i {
    color: rgba(24,226,186,1) !important;
}
.yellow-bg a i {
    color: rgba(255,204,14,1) !important;
}
.green-bg .bubble,
.purple-bg .bubble,
.yellow-bg .bubble {
    background: #fff !important
}

/* ----------------------------------------------------
  SHORTCODE STYLES
------------------------------------------------------- */

.section-white .progress {
    background: #f5f5f5;
}

.bgpatttern .progress {
    background: #fff;
}

.progress {
    background: none repeat scroll 0 0 #dbdbdb;
    border-radius: 15px;
    box-shadow: none !important;
    height: 20px;
    margin: 40px 0 20px !important;
    position: relative;
}

.progress > .progress-type {
    background-color: rgba(25, 25, 25, 0.2);
    color: rgb(255, 255, 255);
    left: 0;
    font-weight: 400;
    font-size:12px;
    padding: 0 10px;
    position: absolute;
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    color:rgb(36,36,36);
    font-size:12px;
    padding: 0 20px 0 0;
}

#accordion-first .accordion-heading .accordion-toggle > em {
    background-color: #fff;
    border-radius: 100px;
    color: #282828;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
}

.section-white #accordion-first .accordion-heading .accordion-toggle > em {
    background-color: #f5f5f5;
}

.accordion-inner p {
    padding-left: 45px;
}

#accordion-first .accordion-heading .accordion-toggle {
    color: #282828;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    font-size:22px;
    display: block;
    margin:5px  0 15px 0;
    outline: medium none !important;
    padding: 5px 0 !important;
    text-decoration: none;
}

.btn-lg {
    font-size: 14px;
    line-height: 1.33;
    padding: 13px 57px !important;
}

.btn {
    border:2px solid #ddd;
}

.btn-primary {
    padding:5px 22px;
}

.text-left {
    text-align: left !important; 
}

.pagination li > a, .pagination li > span,
.pager li > a, .pager li > span {
    width:50px;
    line-height: 50px;
    width:50px;
    font-size:28px;
    padding:0;
}

.pagination li > a, .pagination li > span {
    border-radius: 10px;
    background: #f5f5f5;
    color:#222;
    font-size:16px;
    border-color:#f5f5f5;
    font-weight: 500;
    margin:0 10px;
    width:40px;
    line-height: 40px;
    width:40px;
    padding:0;
}

.tags a {
  color:#9f9f9f;
  border: 1px solid #000;
  display: inline-block;
  margin: 0 3px 4px 0;
  font-size:12px;
  padding: 2px 6px;
}

.nav-tabs {
  border-bottom:0 none;
  padding:0;
}

.nav-tabs > li > a {
  border-radius:0;
  color:#343434;
}

#colorful-tab .tab-content {
  padding:0 !important;
  padding:0 !important;
}
.tab-content {
  border:1px solid #DDD !important;
  padding:20px !important;
}

.panel-title {
  font-size:14px;
  font-weight:400!important;
  line-height:30px;
  margin:0!important;
  padding:0!important;
}

.panel-default > .panel-heading:hover,.panel-default > .panel-heading:focus,.panel-default > .panel-heading {
  background-color:#fff;
}

.panel-default > .panel-heading h4 a {
  color:#000!important;
  text-decoration:none;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

.time_circles > div {
    position: absolute;
    text-align: center;
}

.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}

#DateCountdown {
    width: auto;
    float:none;
    display: block;
    margin: 0 auto !important;
    text-align: center;
}

#loader {
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  background-color: #fff;
  position:fixed;
  display: table;
  width: 100%;
  top:0;
  height: 100%;
  min-height: 100%;
  z-index:9999;
}

.loader-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 12;
  text-align:center;
  text-transform: uppercase;
}

#preloader_1{
  position:relative;
  margin:auto;
  width:100px;
}
#preloader_1 span{
  display:block;
  bottom:0px;
  width: 9px;
  height: 5px;
  background:#fff;
  position:absolute;
  animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:rgba(23,223,190,1);}
    25% {height:30px;transform:translateY(15px);background:rgba(21,218,192,1);}
    50% {height:5px;transform:translateY(0px);background:rgba(13,200,203,1);}
    100% {height:5px;transform:translateY(0px);background:rgba(6,180,215,1);}
}

acronym {
  border-bottom:1px dotted #ccc;
}

#map{
  height:550px;
  width:100%
}

#map img{
  max-width:inherit
}

.map{
  position:relative
}

.map .row .col-lg-4{
  float:right;
  margin-top:-450px;
  z-index:9
}

.contact-icon {
  margin:20px 0;
  overflow:hidden;
}

.map .row{
  position:relative
}

.infobox img {
  width:100% !important;
}

.map .searchmodule {
  padding:18px 10px
}

.infobox {
  display: inline-block;
  padding: 5px;
  position: relative;
  width: 270px;
}

.infobox img {
  width:80px !important;
  padding-right:10px
}

.infobox .title {
  font-size:13px;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  text-transform:uppercase;
  padding-bottom:5px;
}

.infobox .title a {
  font-weight:bold;
}

.general-form label {
    color: #242424;
    margin: 15px 0;
}
.general-form .form-control {
    border-color: #cecece;
    border-radius: 0;
    box-shadow: none;
    color: #242424;
    height: 40px;
}

.general-form .btn {
   margin-top:20px !important;
}

.general-form textarea {
  height: 140px !important;
}









/*  ################################################################

  File Name: style.css
  Template Name: Contact
  Created By: Check
 
################################################################# */ 

/* ----------------------------------------------------
  SKELETON
------------------------------------------------------- */


.map-bg {
  background: url("images/map.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  display: block;
  height: 188px;
  left: -34px;
  margin: auto;
  padding: 0;
  position: absolute;
  z-index:-1;
  top: 70px;
  width: 398px;
}

#map{
  height:550px;
  width:100%
}

#map img{
  max-width:inherit
}

.map{
  position:relative
}

.map .row .col-lg-4{
  float:right;
  margin-top:-450px;
  z-index:9
}

.contact-icon {
  margin:20px 0;
  overflow:hidden;
}

.map .row{
  position:relative
}


/* ----------------------------------------------------
  RESPONSIVE STYLES
------------------------------------------------------- */
@media screen and (max-width: 1424px) {
.map-bg {
  width: 300px !important;
}
}
@media screen and (max-width: 1024px) {
    .map-bg  {
        width: 100%;
    }
    
    .yamm .yamm-content {
        padding:20px 0;
    }
    #topbar {
        text-align: center;
    }

    .social-icons {
        float: none !important;
        margin: 10px auto !important;
    }
}



/* ----------------------------------------------------
  SERVICES STYLES
------------------------------------------------------- */


.square-service h3 {
  font-size: 18px !important;
  text-transform: uppercase;
}

.square-service {
  padding:0 30px;
  text-align: center;
}

.horizontal_services_01 .service_vertical_box {
  margin:20px 0 30px !important;
}

.horizontal_services_01.services_vertical h3 {
  text-transform: none !important;
}

.horizontal_services,
.horizontal_services .service_vertical_box {
  margin:20px 0 0 !important;
}

.horizontal_contact {
  margin-top:10px !important;
  margin-bottom:20px !important;
}

.horizontal_contact .service_vertical_box {
  margin-bottom:20px !important;
}

.border-boxed {
  padding:0;
  border:1px solid #f8f8f8;
}

.section-gray .border-boxed {
  border-color:#ececec;
}

.square-service i {
  font-size:34px !important;
}

.square-service i,
.service-hover:hover h3,
.border-boxed:hover {
  color:#fff;
}
.myservices .title h3 {
  font-size:18px;
  font-weight: normal;
}

.service-style-1 {
  display: block;
  margin: 25px 0;
  min-height: 130px;
  position: relative;
}

.myservices .title h3 i {
  font-size:31px;
  vertical-align: text-top;
  padding: 0 15px 0 0;
}

.box-wrap {
  color: #fff;
  font-size: 51px;
  position: relative;
  overflow: hidden;
  line-height: 200px;
  height: 200px !important;
  text-align: center;
}

.service-hover {
  cursor: pointer;
  position:relative;
  min-height:260px;
  text-align:center;
  padding:30px;
}

.full-height.service-hover,
.full-height {
  padding:15px !important;
  min-height:320px;
  border:0 !important;
  color:#fff !important;
}

.full-height h3,
.full-height i {
  color:#fff !important;
}

.full-height .front {
  top:50%;
}
.box-wrap h3{
  font-size:18px;
  color:#fff;
  margin:10px 0;
}

.service-hover h3 {
  text-transform:uppercase;
  font-size:18px;
  margin:10px 0;
}

.service-hover i {
  font-size:38px;
  margin-bottom:10px;
}

.margin-top {
  margin-top:35%;
}

.widget-top {
  padding:20px;
  margin-top:12%;
}

.front {
  left:0;
  right:0;
  top:40%;
  cursor: pointer;
  position:absolute;
  zoom:1;
  filter:alpha(opacity=100);
  opacity:1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin:-20px auto;
}

.back {
  left:0;
  right:0;
  cursor: pointer;
  padding:0 40px;
  top:23%;
  position:absolute;
  zoom:0;
  filter:alpha(opacity=0);
  opacity:0;
    margin:-20px auto;
    -webkit-transition: all 0.2s cubic-bezier(0.835, 0, 0.19, 1);
    -o-transition: all 0.2s cubic-bezier(0.835, 0, 0.19, 1);
    transition: all 0.2s cubic-bezier(0.835, 0, 0.19, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-wrap .front {
  top:15%;
}
.box-wrap .back {
  top:40%;
  line-height: 1;
}

.box-wrap:hover .front,
.service-hover:hover .front {
  zoom:0;
  filter:alpha(opacity=0);
  opacity:0;
}

.box-wrap:hover .back,
.service-hover:hover .back {
  zoom:1;
  filter:alpha(opacity=100);
  opacity:100;
}

.boxed {
  color:#fff;
  font-weight: 300;
  text-align: center;
  padding: 20px 0 !important;
}

.boxed h3 {
  font-size: 18px;
  color:#fff;
  font-weight: 400;
}

.icon-container {
  font-family: "Raleway",sans-serif;
  font-size:24px;
  border:1px solid #fff;
  width: 100px;
  position: relative;
  height: 100px;
  display: block;
  margin:0 auto 25px;
  line-height: 105px;
}

.icon-container .bubble {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  line-height: 27px;
  border-radius: 100px;
  font-size: 15px;
}

.service-icon.color-green {
  background: #18e2ba !important;
}

.service-icon.color-red {
  background: #e85d5d !important;
}

.service-icon.color-yellow {
  background: #ffcc0e !important;
}

.service-icon.color-purple {
  background: #564bb5 !important;
}

.service-icon.color-blue {
  background: #00b893 !important;
}

.service_vertical_box {
  overflow: hidden;
  display: block;
}

.services_vertical .general-title h2 {
  padding:0 !important;
  color:#fff !important;
  text-align:left;
  font-size:30px !important;
}

.services_vertical p {
  padding:0 !important;
  text-align:left;
}

.services_vertical {
  overflow:hidden;
  padding:30px  0 0 ;
}

.services_vertical h3 {
  padding: 0 !important;
  font-size:18px;
  text-transform: uppercase;
}

.service_vertical_box .service-icon {
  clear: both;
  color: #fff;
  display: block;
  float: left;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  margin: 0 30px 30px 10px;
  text-align: center;
  width: 70px;
}

.social-icons i,
.border-radius {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.border-radius-little {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*  ################################################################

  File Name: style.css
  Template Name: Contact
  Created By: Check
  END
 
################################################################# */ 

















.tab-content h3 span,
.dropdown-submenu > .dropdown-menu li a:hover, 
.dropdown-submenu > .dropdown-menu li a:focus, 
.yamm .dropdown-menu li a:hover, 
.yamm .dropdown-menu li a:focus, 
.yamm .box li a:hover, 
.yamm .box li a:focus, 
.tp-caption.slider-title7 span, 
.slider-title7 span, 
.tp-caption.slider-title-baron2, 
.slider-title-baron2, 
.tp-caption.blue-color,
.tp-caption.slider-title4 span, 
.slider-title4 span, 
#testimonial small, 
.section-title .baron, 
#accordion-first .accordion-heading .accordion-toggle > em, 
.tp-caption.slider-title span, .slider-title span, 
.bubble, 
.service-style-1 i, .mini-title h2 span, 
.service-hover i, .section-title h3 span, 
.callus .dropdown-menu > li > a:hover, 
.callus .dropdown-menu > li > a:focus, 
.callus i {
    color:  #1abc9c !important;  
}

















.about-widget {
    position: relative;
}
.about-widget img {
    width: 100%;
}













¸