<md-dialog>

    <h2 otiprix-title>Règles d'affichages</h2>  
    <md-divider></md-divider> 
    
     <md-dialog-content class="md-dialog-content">

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
                     <p class="companyrules md-warn-color">Vous ne pouvez pas afficher des articles qu'il est illégal de posséder, d'acheter ou de vendre dans votre province de résidence, ou qui ne sont pas achetés ou vendus conformément aux lois et règlements applicables. Il vous incombe de vous assurer du respect de toutes les lois applicables concernant l'article que vous affichez, achetez ou vendez. Vous êtes également responsables de toutes les informations que vous mettez en ligne. Nous pouvons, en tout temps, retirer une annonce si nous jugeons qu'elle nuit au bien-être des consommateurs ou qu'elle va à l'encontre des règlements et de l'esprit d’OTIPRIX. Les utilisateurs qui ne respectent pas ses règles perdront définitivement l'accès au site OTIPRIX.
                     </p>
                </div>
            </div>

    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="close()">
            Fermer
        </md-button>
    </md-dialog-actions>
</md-dialog>