<md-dialog >
    <md-dialog-content>

        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <span>Comment ça marche</span>
                <span flex><img class="pull-right" ng-src="{{logo}}" style="height : 40px; margin : 10px;" /></span>
            </div>
        </md-toolbar>

        <div class="container" style="position:relative !important;padding-top:56.25% !important;">
            <iframe src="https://www.youtube.com/embed/kYQ7Z9DHjSs?autoplay=1" frameborder="0" allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>

    </md-dialog-content>
    <md-dialog-actions>
            <md-button ng-click="close()" class="md-raised md-warn btn">
                Fermer
            </md-button>
    </md-dialog-actions>
</md-dialog>