<!DOCTYPE html>

<div id="select-store-box">
    <div>
        
        <div class="col-sm-12">
            <p class="md-otiprix-text" style="text-align: center; margin: 5px;"><b>Vos magasins préférés</b></p>
        </div>
        
        <div class="container">
            <div class="row col-md-12">
                
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group-inline" ng-repeat="favoriteStore in favoriteStores">
                        <div class="col-md-3 col-md-6" style="padding-top:10px; margin-top: 5px; margin-bottom: 10px;">
                            <label  class="btn item-block">
                                <img  ng-click="goto_retailer(avoriteStore.id)" id="{{favoriteStore.id}}" ng-src="{{favoriteStore.image}}" alt="{{favoriteStore.name}}" class="store-block img-check">
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <md-toolbar style="background-color: #1abc9c; margin-bottom : 10px;">
            <div>
                <h2 class="md-toolbar-tools">Sélectionner les {{max_stores}} magasins que vous utilisez souvent</h2>
            </div>
	</md-toolbar>
        
        <div style="" id="retailer-contents">
            <div class="form-group-inline" ng-repeat="store in retailers" id="retailer_{{store.id}}">
                <div class="col-md-2 col-md-4" style="padding-top:10px;">
                    <label  class="btn item-block">
                        <img  ng-click="select_retailer($event)" id="{{store.id}}" ng-src="{{store.image}}" alt="{{store.name}}" class="store-block img-check">
                        <input type="checkbox" name="store_{{store.id}}" value="{{store.id}}" class="hidden" autocomplete="off">
                    </label>
                </div>
            </div>
        </div>

        <div ng-show="registering_user">
            <div style="margin : auto;">
                <p style="text-align: center;">Veillex patienter...</p>
            </div>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear> 
        </div>
        
        <div class="alert alert-success" ng-show="listChangedSuccess" style="margin-top: 5px;">
            <strong>Success!</strong> {{listChangedSuccessMessage}}
        </div>

        <div class="col-sm-12" style="margin-top: 30px;">
            
            <!-- Button -->  
            <md-button id="btn-signup"  ng-click="saveFavoriteStores()" class="md-otiprix md-raised pull-right">Sélectionner</md-button>
            
            <md-button id="btn-signup"  ng-click="reset()" class="md-otiprix md-raised pull-right">Recommencer</md-button>
            
        </div>
            
    </div>
</div>
