<!DOCTYPE html>

<div id="select-store-box">
    <div>
        
        

        <md-subheader class="md-otiprix-text">Vos magasins préférés</md-subheader>
        <div class="container">
            <div class="row">
                
                <div class="form-group-inline" ng-repeat="favoriteStore in favoriteStores">
                    <div class="col-md-2 col-md-4" style="padding-top:10px; margin-top: 5px; margin-bottom: 10px;">
                        <label  class="btn item-block">
                            <img  ng-click="goto_retailer(avoriteStore.id)" id="{{favoriteStore.id}}" ng-src="{{favoriteStore.image}}" alt="{{favoriteStore.name}}" class="store-block img-check">
                        </label>
                    </div>
                </div>
                
            </div>
        </div>
        
        <md-toolbar style="background-color: #1abc9c; margin-bottom : 10px;">
            <div>
                <h2 class="md-toolbar-tools">Sélectionner les {{max_stores}} magasins que vous utilisez souvent</h2>
            </div>
	</md-toolbar>
        
        <md-content style="" id="retailer-contents">
            <div class="form-group-inline" ng-repeat="store in retailers" id="retailer_{{store.id}}">
                <div class="col-md-2 col-md-4" style="padding-top:10px;">
                    <label  class="btn item-block">
                        <img  ng-click="select_retailer($event)" id="{{store.id}}" ng-src="{{store.image}}" alt="{{store.name}}" class="store-block img-check">
                        <input type="checkbox" name="store_{{store.id}}" value="{{store.id}}" class="hidden" autocomplete="off">
                    </label>
                </div>
            </div>
        </md-content>

        <md-content ng-show="registering_user">
            <div style="margin : auto;">
                <p style="text-align: center;">Veillex patienter...</p>
            </div>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear> 
        </md-content>
        
        <div class="alert alert-success" ng-show="listChangedSuccess" style="margin-top: 5px;">
            <strong>Success!</strong> {{listChangedSuccessMessage}}
        </div>

        <div class="form-group">
            
            <!-- Button -->  
            <div class="col-md-offset-0 col-md-3 pull-right" style="padding-top:25px;">
                <md-button id="btn-signup"  ng-click="saveFavoriteStores()" class="md-otiprix md-raised col-md-12">Sélectionner</md-button>
            </div>
            
            <div class="col-md-offset-0 col-md-3 pull-right" style="padding-top:25px;">
                <md-button id="btn-signup"  ng-click="reset()" class="md-otiprix md-raised col-md-12">Recommencer</md-button>
            </div>
            
        </div>
            
    </div>
</div>
