<md-dialog class="col-md-6 col-sm-12">
    
    <!-- Header with the details of the currently selected store product -->
    <md-subheader class="md-warn"><b>{{selectedStoreProduct.retailer.name}}- {{selectedStoreProduct.product.name}}</b>, {{ selectedStoreProduct.format }} <span ng-show="selectedStoreProduct.unit">{{selectedStoreProduct.unit.name}}</span>, Prix : <b>$ CAD {{selectedStoreProduct.price}}</b></md-subheader>
    
    <md-dialog-content class="md-dialog-content">

        <md-list-item class="md-3-line" ng-repeat="store_product in different_store_products" ng-click="change(store_product)">
            <img ng-src="{{store_product.retailer.image}}" class="md-avatar" alt="{{store_product.retailer.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3><a href>{{ store_product.retailer.name }}</a></h3>
                <p>{{ store_product.format }}<span ng-show="store_product.unit"> {{store_product.unit.name}}</span></p>
                <p ng-show="store_product.brand">{{ store_product.brand.name }}</p>
                <h4><b>$ CAD {{ store_product.price }}</b></h4>
            </div>
        </md-list-item>
        
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button class="md-raised md-otiprix" ng-click="cancel()">
            Annuler
        </md-button>
        <md-button class="md-raised md-otiprix" ng-click="selectStoreProduct()">
            Sélectionner
        </md-button>
    </md-dialog-actions>
</md-dialog>
