<md-dialog class="col-sm-12">
    
    <md-subheader class="md-otiprix-text">Changer distance</md-subheader>
    
    <md-dialog-content class="md-dialog-content row">
        <div class="col-sm-12">
            <md-slider-container>
                <span>Distance (Km)</span>
                <md-slider flex min="4" max="100" ng-model="default_distance" aria-label="Distance" id="distance-slider">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="default_distance" aria-label="Distance" aria-controls="distance-slider">
                </md-input-container>
            </md-dialog-content>
        </div>
    
    <md-dialog-actions>
        <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
        <md-button class="md-raised md-otiprix" ng-click="cancel()">
            Annuler
        </md-button>
        <md-button class="md-raised md-otiprix" ng-click="change()">
            Changer
        </md-button>
    </md-dialog-actions>
</md-dialog>