<!DOCTYPE html>

<div id="select-store-box">
    <div>
        <md-toolbar class="md-primary" style="margin-bottom : 10px;">
            <div>
                <h2 class="md-toolbar-tools">Cochez les {{max_stores}} magasins que vous utilisez souvent</h2>
            </div>
	</md-toolbar>
        
        <form role="form" novalidate>
            <div style="overflow : scroll; height: 500px;" id="retailer-contents">
                <div class="form-group-inline" ng-repeat="store in retailers">
                    <div class="col-md-2 col-md-4" style="padding-top:10px;">
                        <label  class="btn item-block">
                            <img  ng-click="select_retailer($event)" id="{{store.id}}" ng-src="{{store.image}}" alt="{{store.name}}" class="store-block img-check">
                            <input type="checkbox" name="store_{{store.id}}" value="{{store.id}}" class="hidden" autocomplete="off">
                        </label>
                    </div>
                </div>
            </div>
            <div ng-show="registering_user">
                <div style="margin : auto;">
                    <p style="text-align: center;">Veillex patienter...</p>
                </div>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear> 
            </div>
            
        </form>
    </div>
</div>
