
<md-table-container>

    <md-progress-linear md-mode="indeterminate" ng-disabled="!isLoading"></md-progress-linear>
    
    <div class="col-sm-12" style="margin : 5px;">
        
        <div class="pull-left" ng-show="maxPageItem > 0">
            <p>{{(query.page - 1)* query.limit + 1}} à {{maxPageItem}} de {{count}}</p>
        </div>
        
        <div class="pull-right">
            
            <md-icon><a  ng-class="profileData.instance.gridView ? 'md-warn' : 'md-primary'" href ng-click="viewChanged(false)"><i class="material-icons">list</i></a></md-icon>
            <md-icon><a  ng-class="profileData.instance.gridView ? 'md-primary' : 'md-warn'" href  ng-click="viewChanged(true);"><i class="material-icons">grid_on</i></a></md-icon>
            <div ng-if="!profileData.instance.gridView && products.length > 0">Vue en liste</div>
            <div ng-if="profileData.instance.gridView && products.length > 0">Vue en grille</div>
        </div>
    </div>
    
    <div style="margin-top : 15px;">
        <form flex layout-padding name="filter.form" ng-submit="search()">
            <md-input-container class="md-block" md-no-float>
                <md-icon>search</md-icon>
                <input ng-model="query.filter" ng-model-options="filter.options" placeholder="Recherche">
            </md-input-container>

        </form>
    </div>
    
    <p otiprix-text style="text-align: center;" ng-show="products.length === 0">Aucun résultat trouvé</p>
    
    <table md-table ng-model="selected" ng-if="!profileData.instance.gridView  && products.length > 0">
        <thead md-head md-order="query.order" md-on-reorder="getProducts">
            <tr md-row>
                <th md-column></th>
                <th md-column md-order-by="name">
                    <span>Description</span>
                </th>

                <th md-column md-numeric>Prix (C $)</th>
                <th md-column>Quantité</th>
                <th md-column md-numeric>Totale (C $)</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="product" md-select-id="product.id" ng-repeat="product in products">
              
            <td md-cell>
                <div style="width: 160px;">
                    <img class="retailer-img" alt="" ng-src="{{product.retailer.image}}">
                    
                    <div class="image-container">
                        <a href ng-click="viewProduct(product.id, $event)">
                            <img alt="" ng-src="{{product.product.image}}">
                        </a>
                    </div>
                </div>
            </td>
            
            <td md-cell>
                <p><b><a  href ng-click="viewProduct(product.id, $event)">{{product.product.name | uppercase}}</a></b></p>
                <p ng-show="product.size">{{product.size}}</p>
                <p ng-show="product.brand">{{product.brand.name | uppercase}}</p>
                <p>{{product.format}} <span ng-show="product.unit">{{product.unit.name}}</span></p>
                <p ng-show="product.state">Origine : {{product.state}}</p>
            </td>
            <td md-cell><b>{{product.price}} C $</b></td>
            <td md-cell>
                <quantity-input quantity="product.quantity" ></quantity-input>
            </td>
            <td md-cell>
                <b>{{(product.price * product.quantity) | number : 2}} C $</b>
            </td>
            <td md-cell>
                
                <div class="row">
                    <div class="center-div">
                        <md-button class="md-primary md-raised pull-right" ng-hide="productInCart(product.product.id)"  ng-click="addProductToCart(product.product_id, isStoreSelected ? product.id : -1, product.quantity)">
                            <md-icon>
                                <i style="color : white;" class="material-icons">add_shopping_cart</i>
                            </md-icon>
                            Ajouter
                        </md-button>

                        <md-button class="md-warn md-raised pull-right" ng-show="productInCart(product.product.id)" ng-click="removeProductFromCart(product.product_id)">
                            <md-icon><i class="material-icons">remove_shopping_cart</i></md-icon>
                            Retirer
                        </md-button>
                    </div>
                </div>
                
            <add-to-list ng-if="isUserActive" style='text-align: center;' class='pull-right' product='product.product' caption="Ajouter à liste" logged-user='loggedUser'></add-to-list>
                
            </td>
            
          </tr>
        </tbody>
    </table>
    
    <div class="row md-padding" ng-if="profileData.instance.gridView && products.length > 0">
        
        <div class="col-md-4 col-sm-6 col-lg-3 md-padding" ng-repeat="product in products">

            <store-product store-product="product" full-display="true" ></store-product>
            
        </div>
    </div>
    
    
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[100, 150, 200]" md-page="query.page" md-total="{{count}}" md-on-paginate="getProducts" md-page-select></md-table-pagination>

