<!DOCTYPE html>

<div>
        
        <div id="row my-list-info" class="row my-list-info container" style="margin : 10px; margin: auto; padding: 20px;">
            <div class="col-sm-4"><p style="text-align : center;"><a href>Produits <span class="badge">{{my_list_count()}}</span></a><br></p></div>
            <div class="col-sm-4"><p style="text-align : center;"><a href>Offres des circulaires <span class="badge">{{flyer_products_count()}}</span></a><br></p></div>
            <div ng-hide="true" class="col-sm-4"><p style="text-align : center;"><a href>Coupons <span class="badge">{{coupons_count()}}</span></a><br></p></div>
        </div>
        
        <div class="row search-products">

            <md-autocomplete class="col-sm-11" style="display : inline-block;"
                md-search-text="searchProductText"
                md-selected-item-change="product_selected(item)"
                md-items="item in querySearch(searchProductText)"
                md-item-text="item.name"
                md-min-length="2"
                md-floating-label="Recherche de produits"
            >
                <md-item-template>
                    <span md-highlight-text="searchProductText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    Aucun produit correspondant à "{{searchProductText}}" n'a été trouvé.
                </md-not-found>
            </md-autocomplete>
            
            
            <md-button ng-click="addNewProductToList()" class="md-fab md-mini md-primary" style="background-color : #1abc9c;" aria-label="Ajouter">
                <md-icon md-svg-src="{{icons.add | trustUrl}}"></md-icon>
            </md-button>
        </div>
                
        <div class="row my-grocery-list md-whiteframe-3dp" style="margin : 10px; min-height: 100px;" >
            <md-toolbar style="background-color: #1abc9c;">
                <div>
                    <h2 class="md-toolbar-tools">Ma liste d’épicerie</h2>
                </div>
            </md-toolbar>
            <div ng-repeat="category in myCategories">
                <md-subheader class="md-no-sticky">{{category.name}}</md-subheader>
                    <md-list-item ng-repeat="product in category.products" ng-click="viewProductDetails(product.id, $event)" class="noright">
                        <img alt="{{ product.name }}" ng-src="{{ product.image }}" class="md-avatar" />
                        <p>{{ product.name }}  <span class="badge" ng-show="product.store_products.length == 0">Le produit n'est pas disponible</span><span class="badge" ng-show="product.store_products.length > 0"> Disponible dans {{product.store_products.length}} magasins</span></p>
                        
                        <md-input-container class="md-secondary">
                            <input style="width: 40px;" aria-label="Qty" type="number" ng-model="product.quantity">
                        </md-input-container>
                        <md-button class="md-fab md-mini md-secondary" aria-label="Supprimer" ng-click="removeProductFromList(product.id, $event, true)">
                            <md-icon md-svg-src="{{icons.delete | trustUrl}}"></md-icon>
                        </md-button>
                    </md-list-item>
                <md-divider></md-divider>
            </div>
            <h4 layout layout-align="center" ng-show="myCategories.length === 0" layout-padding>Votre liste est vide. </h4>
        </div>
		
        <div  class="row my-grocery-list md-whiteframe-3dp" style="margin : 10px; min-height: 100px;" >
            <md-toolbar style="background-color: #1abc9c;">
                <div>
                    <h2 class="md-toolbar-tools">Votre liste d'épicerie dans vos magasins préférés cette semaine</h2>
                </div>
            </md-toolbar>
            <md-list-item class="md-2-line" ng-repeat="store in getUserListStorePrices()">
                <img ng-src="{{ store.image }}" class="md-avatar" alt="{{store.name}}" />
                <div class="md-list-item-text md-offset" ng-show="store.price > 0">
                      <h3> Prix total a {{store.name}} : <b>CAD {{ store.price | number : 2 }}</b> </h3>
                      <p> Nombre d'items disponibles : {{ store.count }} </p>
                </div>
            </md-list-item>
        </div>
        
        <div class="container actions-section">
		
            <div class="col-md-offset-10">
                
                <md-button class="md-fab md-warn"  ng-click="clearMyList($event)" aria-label="Effacer votre liste">
                    <md-tooltip
                        md-direction="top">
                        Effacer votre liste
                    </md-tooltip>
                    <md-icon><i class="material-icons">clear_all</i></md-icon>
                </md-button>
                
                <md-button class="md-fab md-otiprix" aria-label="Optimizer votre liste" ng-click="optimizeMyList()">
                    <md-tooltip
                        md-direction="top">
                        Optimizer votre liste
                    </md-tooltip>
                    <md-icon><i class="material-icons">build</i></md-icon>
                </md-button>
                
            </div>
            
            
        </div>
        
</div>
