
  
  
<div class="container">

    <div class="row">
        <md-button class="md-raised md-otiprix pull-right" ng-click="addStoreBranch($event)">
            Ajouter Sucursale                
        </md-button>
    </div>
    
    <div class="row">
    
        <h2 class="section-title md-otiprix-text">Vos sucursales</h2>
    
        </md-toolbar>
        <md-list flex ng-if="departmentStores.length > 0">
            <md-list-item class="md-3-line" ng-repeat="ds in departmentStores" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ ds.name }}</h3>
                    <h4>
                        {{ ds.address }} 
                        <span ng-show="ds.country">, {{ds.country}}</span> 
                        <span ng-show="ds.state">, {{ds.state}}</span>
                        <span ng-show="ds.city">, {{ds.city}}</span>
                        <span ng-show="ds.postcode">, {{ds.postcode}}</span>
                    </h4>
                    <p ng-if="ds.email">{{ ds.email }}<span ng-show="ds.phonenumber">, {{ds.phonenumber}}</span></p>
                </div>
                <md-icon class="md-secondary md-warn" ng-click="removeDepartmentStore(ds.id)"><i class="material-icons">delete</i></md-icon>
                
            </md-list-item>
        </md-list>
    </div>

</div>  



 