
<div >

    <h2 otiprix-title>Vos Produits</h2>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
      <div class="md-toolbar-tools">
        
      <div flex></div>
        <md-button class="md-icon-button" ng-click="filter.show = true">
          <md-icon>filter_list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="addNewStoreProduct($event)">
          <md-icon>add</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
      <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex name="filter.form">
          <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
        </form>
        <md-button class="md-icon-button" ng-click="removeFilter()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-warn md-hue-1" ng-show="selected.length">
      <div class="md-toolbar-tools" layout-align="space-between">
        <div><p style="margin-top: 15px; color : white;">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} Sélectionné</p></div>
        <md-button class="md-icon-button" ng-click="delete($event)">
          <md-icon style="margin-top: 15px; color : white;">delete</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="w-100">
        <md-table-container >
            <table class="table table-responsive" md-table md-row-select multiple ng-model="selected" md-progress="promise">
              <thead md-head md-order="query.order" md-on-reorder="getCompanyProducts">
                <tr md-row>
                  <th md-column width="168"></th>
                  <th md-column md-order-by="calories.value"><span>Details</span></th>
                  <th md-column>Valide de</th>
                  <th md-column>Valide jusque</th>
                  <th md-column>Actions</th>
                </tr>
              </thead>
              <tbody md-body>
                  <tr md-row md-select="sp" md-select-id="id" ng-repeat="sp in storeProducts.data">
                      <td md-cell width="168">
                          <div class="image-container">

                              <image-upload 
                                    image="sp.product.image"
                                    caption="" 
                                    on-file-removed="imageRemoved(sp)" 
                                    on-file-selected="imageChanged(file, sp)">       
                              </image-upload> 

                          </div>
                      </td>
                      <td md-cell style="text-align: left;">
                          <p><b>{{sp.product.name | uppercase}}</b></p>
                          <p ng-show="sp.size">Taille : {{sp.size}}</p>
                          <p ng-show="sp.brand">{{sp.brand.name | uppercase}}</p>
                          <p>{{sp.format}} <span ng-show="sp.unit">{{sp.unit.name}}</span></p>
                          <p ng-show="sp.country">Pays : {{sp.country}}</p>
                          <p ng-show="sp.state">Origine : {{sp.state}}</p>
                          <p ng-show="sp.in_flyer == 1">Disponible en Circulaire</p>
                          <p ng-show="sp.organic == 1">Bio</p>
                          
                      </td>
                      <td md-cell width="148">
                          {{sp.period_from}}
                      </td>
                      <td md-cell width="148">
                          {{sp.period_to}}
                      </td>
                      
                      <td md-cell>
                          <div class="col-sm-12">
                              <md-button class="md-primary md-raised" ng-click="editStoreProduct($event, sp)">
                                  Modifier
                              </md-button>
                          </div>
                      </td>
                 
                  </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-limit-options="[10, 20, 40]" md-page="query.page" md-total="{{storeProducts.count}}" md-on-paginate="getCompanyProducts" md-page-select></md-table-pagination>

    </div>
    


</div>