<style>

    .promo-image
    {
        width : 200px !important; 
        height : 200px !important; 
        border-color : rgb(160, 160, 160) !important; 
        border-width : 3px !important;
        padding: 0px !important;
    }
    
</style>

<div class="layout-padding" ng-class="{'right-border' : displayBorder }">

    <p class="text-center font-weight-bold">{{$ctrl.index}}</p>

    <div class="row justify-content-center">
        <div class="image-container col ">
            <img class="promo-image" alt="poster_1_up" ng-src="{{$ctrl.image}}">
        </div>
    </div>
</div>