<div style="margin: 5px; background-color : white;" class="border-shadow thumbnail">
    <div style="height: 250px;">
        <img ng-src="{{storeProduct.product.image}}" alt="storeProduct.product.name" 
		style="width: 100%; height: 100%; object-fit: contain;">
    </div>
    <md-divider></md-divider>

    <div style="display: flex; ">
        <div>
            <img class="md-user-avatar" style="margin : 2px; width: 40px;" ng-src="{{storeProduct.retailer.image}}"/>
        </div>
        <div style="font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">

            <b><a href ng-click="$ctrl.viewProduct(storeProduct.id, $event)"><span style="margin-left: 5px;" otiprix-text>{{storeProduct.product.name}}</span></a></b>
            <br>   
            <span style="margin-left : 5px; font-size : 12px;">
                <span ng-if="storeProduct.format">{{storeProduct.format}} </span>
                <span ng-if="storeProduct.unit"> {{storeProduct.unit.name}}</span>
                <br>
                <span style="margin-left : 5px; font-size : 12px;">
                    <span style="color : red;"><b>CAD {{storeProduct.price * storeProduct.quantity}}</b></span>   
                    <del ng-if="storeProduct.regular_price > storeProduct.price" style="margin-left: 5px; font-size: 10px;"><b>$ CAD {{storeProduct.regular_price * storeProduct.quantity}}</b></del>
                </span>
            </span>
            
        </div>
    </div>
    
    <quantity-input ng-if="$ctrl.fullDisplay" quantity="storeProduct.quantity" ></quantity-input>

    <div ng-if='$ctrl.fullDisplay' class="row" style='text-align: center;'>
        <add-to-list product='storeProduct.product' caption="Ajouter à liste"></add-to-list>
    </div>

    <md-divider></md-divider>
    <div class="row" style="padding: 2px; margin: 0px;">
        <md-button ng-hide="productInCart(storeProduct.product.id)" ng-click="addProductToCart(storeProduct.product.id, storeProduct.id, storeProduct.quantity)" class="md-raised md-primary btn pull-right">Ajouter</md-button>
        <md-button ng-show="productInCart(storeProduct.product.id)" ng-click="removeProductFromCart(storeProduct.product.id)" class="md-warn md-raised md-primary btn pull-right">Retirer</md-button>
    </div>
</div>


